.board {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    gap: 4px;
    max-width: 396px;
    max-height: 396px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: oklch(0.707 0.165 254.624);
    box-shadow: black 2px 2px 0 0;
}

.board__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
}

.board__tile {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: oklch(0.951 0.026 236.824);
    cursor: pointer;
    box-shadow: black 1px 1px 0 0;
    transition: background-color 0.1s ease;

    .board__left &:hover {
        background-color: oklch(0.828 0.111 230.318);
        transform: translateY(1px);
        box-shadow: black 0 0 0 0;
    }

    .board__right &:hover {
        background-color: oklch(0.712 0.194 13.428);
        transform: translateY(1px);
        box-shadow: black 0 0 0 0;
    }
}
