.board__grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(10, minmax(0, 1fr));
    gap: 4px;
    max-width: 396px;
    max-height: 396px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: oklch(0.707 0.165 254.624);
    box-shadow: black 2px 2px 0 0;
}

.boards__grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 80px;
    row-gap: 20px;
}

.board__tile {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: oklch(0.951 0.026 236.824);
    box-shadow: black 1px 1px 0 0;
    transition: background-color 0.1s ease;
    cursor: pointer;

    .board__top &:hover {
        background-color: oklch(0.712 0.194 13.428);
        box-shadow: black 0 0 0 0;
        transform: translateY(1px);
    }

    .board__bot &:hover {
        background-color: oklch(0.828 0.111 230.318);
        box-shadow: black 0 0 0 0;
        transform: translateY(1px);
    }
}

.ship {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(44, 62, 80, 1.0);
    box-shadow: black 2px 2px 0 0;
    pointer-events: none;
}

.ship.shot {
    background-color: red;
}

.shot {
    background-color: orange;
}

.board__title {
    text-align: center;
}
