.button {
    display: block;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: oklch(0.696 0.17 162.48);
    cursor: pointer;
    box-shadow: black 2px 2px 0 0;
    transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;

    &:hover {
        background-color: oklch(0.596 0.145 163.225);
        transform: translateY(1px);
        box-shadow: black 1px 1px 0 0;
    }
}
