.button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: oklch(0.696 0.17 162.48);
    box-shadow: black 2px 2px 0 0;
    transition: background-color 0.1s ease, box-shadow 0.1s ease, transform 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: oklch(0.596 0.145 163.225);
        box-shadow: black 1px 1px 0 0;
        transform: translateY(1px);
    }
}
