.main {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
    row-gap: 80px;
    min-height: 100dvh;
    padding: 40px;
    background-color: oklch(0.951 0.026 236.824);
}

.main__info {
    margin-bottom: 32px;
    text-align: center;
}
