<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/controls.css}">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="icon" sizes="any" th:href="@{/images/logo.svg}" type="image/svg+xml">
    <title th:text="Battleship"></title>
</head>

<body>
<main class="main">
    <div>
        <h2 class="main__info" id="turn-indicator">Waiting for setup...</h2>
        <div class="boards__grid">
            <div class="board board__top">
                <h3 class="board__title">Player 1</h3>
                <div class="board__grid" id="player1-opponent-board">
                    <button
                            class="board__tile"
                            th:data-index="${i}"
                            th:each="i : ${#numbers.sequence(0, 99)}"
                            th:style="'grid-row: ' + (${#numbers.formatDecimal(i / 10 + 1, 0, 0)}) + '; grid-column: ' + (${i} % 10 + 1) + ';'"
                    ></button>
                </div>
            </div>
            <div class="board board__bot">
                <div class="board__grid" id="player1-board">
                    <button
                            class="board__tile"
                            th:data-index="${i}"
                            th:each="i : ${#numbers.sequence(0, 99)}"
                            th:style="'grid-row: ' + (${#numbers.formatDecimal(i / 10 + 1, 0, 0)}) + '; grid-column: ' + (${i} % 10 + 1) + ';'"
                    ></button>
                </div>
            </div>

            <div class="board board__top">
                <h3 class="board__title">Player 2</h3>
                <div class="board__grid" id="player2-opponent-board">
                    <button
                            class="board__tile"
                            th:data-index="${i}"
                            th:each="i : ${#numbers.sequence(0, 99)}"
                            th:style="'grid-row: ' + (${#numbers.formatDecimal(i / 10 + 1, 0, 0)}) + '; grid-column: ' + (${i} % 10 + 1) + ';'"
                    ></button>
                </div>
            </div>
            <div class="board board__bot">
                <div class="board__grid" id="player2-board">
                    <button
                            class="board__tile"
                            th:data-index="${i}"
                            th:each="i : ${#numbers.sequence(0, 99)}"
                            th:style="'grid-row: ' + (${#numbers.formatDecimal(i / 10 + 1, 0, 0)}) + '; grid-column: ' + (${i} % 10 + 1) + ';'"
                    ></button>
                </div>
            </div>
        </div>
    </div>

    <div class="controls">
        <button class="control-button button" onclick="createGame()">Create Game</button>
        <button class="control-button button" onclick="createPlayer()">Create Player</button>
        <button class="control-button button" onclick="placeShip()">Place Ship</button>
    </div>
</main>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
